.page-header{
  width: 320px;
  margin:0 auto;
}
/*tablet****************************************************************************************/
@media all and (min-width: 768px){
  .page-header{
    width: 768px;
    padding:30px;
    display: flex;
  }

}
