.advantages{
  padding:20px;
}
.advantage__title{
  font-size:36px;
  font-weight: normal;
}
.advantages__list{
  list-style:none;
  margin:0;
  padding: 0;

}
.advantages__item{
  position: relative;
font: 14px/18px Arial, sans-serif;
  padding-left: 80px;
  padding-bottom: 20px;
  &:before{
    position: absolute;
    content:'';
    width:60px;
    height: 60px;
    top:0;
    left: 0;
  }
}
.advantages__item--vitamins{
  &:before{
    background:#68b738 url("../resources/img/img-opt/index/mobile/advantage-1.png") no-repeat center;
  }
}
.advantages__item--useful{
  &:before{
    background:#68b738 url("../resources/img/img-opt/index/mobile/advantage-2.png") no-repeat center;
  }
}
.advantages__item--eats{
  &:before{
    background:#68b738 url("../resources/img/img-opt/index/mobile/advantage-3.png") no-repeat center;
  }
}
.advantages__item--time{
  &:before{
    background:#68b738 url("../resources/img/img-opt/index/mobile/advantage-4.png") no-repeat center;
  }
}
/*tablet****************************************************************************************/
@media all and (min-width: 768px){
  .advantages{
    padding:0px;
    //min-height: 780px;
    border-bottom: 1px solid #e6e6e6;
  }
  .advantage__title{
    font-size:60px;
    font-weight: normal;
  }
  .advantages__list{
    padding-top:50px;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-content: space-between;
  }
  .advantages__item{
    position: relative;
    font: 16px/24px Arial, sans-serif;
    padding:0;
    padding-top: 100px;
    margin-bottom:50px;
    width:250px;
    height:235px;
    //border: 1px solid red;
    &:before{
      position: absolute;
      content:'';
      width:80px;
      height: 80px;
      top:0;
      left: 0;
    }
    &:after{
      position:absolute;
      display: block;
      font: 260px/230px Oswald, sans-serif;
      color: #f2f2f2;
      top:-20px;
      left:120px;
      z-index: -1;
    }

  }
  .advantages__item--vitamins{
    &:after{
      content:'1';
    }
  }
  .advantages__item--useful{
    &:after{
      content:'2';
      left:120px;
    }
  }
  .advantages__item--eats{
    &:after{
      content:'3';
      left:120px;
    }
  }
  .advantages__item--time{
    &:after{
      content:'4';
      left:120px;
    }
  }

}
/*desk****************************************************************************************/
@media all and (min-width: 1440px){
  .advantages{
    padding:0px;
    //min-height: 780px;
    border-bottom: 1px solid #e6e6e6;
  }
  .advantage__title{
    font-size:60px;
    font-weight: normal;
  }
  .advantages__list{
    padding-top:50px;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-content: space-between;
  }
  .advantages__item{
    position: relative;
    font: 16px/24px Arial, sans-serif;
    padding:0;
    padding-top: 100px;
    margin-bottom:50px;
    width:250px;
    height:235px;
    //border: 1px solid red;
    &:before{
      position: absolute;
      content:'';
      width:80px;
      height: 80px;
      top:0;
      left: 0;
    }
    &:after{
      position:absolute;
      display: block;
      font: 260px/230px Oswald, sans-serif;
      color: #f2f2f2;
      top:-20px;
      left:120px;
      z-index: -1;
    }

  }
  .advantages__item--vitamins{
    &:after{
      content:'1';
    }
  }
  .advantages__item--useful{
    &:after{
      content:'2';
      left:120px;
    }
  }
  .advantages__item--eats{
    &:after{
      content:'3';
      left:120px;
    }
  }
  .advantages__item--time{
    &:after{
      content:'4';
      left:120px;
    }
  }

}