.catalog{
  width: 320px;
  margin: 0 auto;
  margin-top:-30px;
  display: grid;
  grid-template-columns: repeat(2, 160px);
}
.catalog__title-products{
grid-column: 1/-1;
  font-size:36px;
  line-height: 36px;
  font-weight: normal;
  padding:25px 0 30px 0;
  border: 1px solid #ededed;
  border-right: none;
  border-left: none;
  text-align: center;
}
.catalog__list{
  grid-column: 1/-1;
  margin:0;
  padding:0;
  list-style: none;
}
.catalog__title-optional{
  grid-column: 1/-1;
  font-weight: normal;
  padding-left: 20px;
}
.optional-products{
  grid-column: 1/-1;
}
.banner{
  grid-column: 1/-1;
}
/**tablet**************************************************************************************/
@media all and(min-width: 768px) {
  .catalog{
    width:768px;
    grid-template-columns: repeat(4, 132px);
    grid-column-gap: 60px;
    padding:0 30px;
  }
  .catalog__title-products{
    font-size:60px;
    line-height: 60px;
    border:none;
    text-align: left;
  }
  //.catalog__list{
  //
  //}
  .catalog__title-optional{
    padding-left:30px;
    font-size: 36px;
  }
  .optional-products{

  }
  .banner{

  }
}
/**desktop**************************************************************************************/
@media all and(min-width: 1440px) {
  .catalog{
    width:1440px;
    grid-template-columns: repeat(4, 245px);
    grid-column-gap: 80px;
    padding:0 110px;
  }
  //.catalog__title-products{
  //}
  ////.catalog__list{
  ////
  ////}
  .catalog__title-optional{
    padding-left:0;
    font-size: 36px;
  }
  //.optional-products{
  //
  //}
  .banner{
    grid-column: 4/5;
  grid-row:5;
  }
}