.optional-products{
  padding:0 20px;
}
.optional-list{
  list-style: none;
  margin:0;
  padding:0;

}
.optional-item{

}
.optional-item__title{
  font-size:16px;
  text-transform: uppercase;
}
.optional-item__description{
  font-size: 14px;
  color:#444444;
  display:flex;
  justify-content: space-between;
}
.optional-button{

}
/**tablet****************************************************************************/
@media all and(min-width: 768px ) {
  .optional-products{
  }
  .optional-list{
  padding:0 10px;
  }
  .optional-item{
  }
  .optional-item__title{
    font-size:20px;
  }
  .optional-item__description{
  font:16px/16px Arial, sans-serif;
  }
  .optional-button{

  }
}