.banner{
  background:url("../resources/img/img-opt/catalog/mobile/gift-photo-mobile.jpg");
  width:280px;
  height: 289px;
  margin: 30px 20px 30px 20px;
  position: relative;
  &:before{
    position: absolute;
    content:url("../resources/img/img-opt/catalog/mobile/gift.svg");
    width:55px;
    height: 60px;
    top: 50px;
    left: 110px;
  }
}
.banner-description{
  text-align: center;
  color: white;
  margin-top: 170px;
}
@media all and (min-width: 768px) {
  .banner{
    background:url("../resources/img/img-opt/catalog/tabl/gift-photo-tablet.jpg");
    width:708px;
    height: 200px;
    margin: 0;
    margin-top:60px;
    margin-bottom: 60px;
    position: relative;
    &:before{
      position: absolute;
      content:url("../resources/img/img-opt/catalog/mobile/gift.svg");
      width:55px;
      height: 60px;
      top: 70px;
      left: 110px;
    }
  }
  .banner-description{
    text-align: center;
    color: white;
    margin-top: 70px;
  }

}
@media all and (min-width: 1440px) {
  .banner{
    background:url("../resources/img/img-opt/catalog/desk/gift-photo-desktop.jpg") no-repeat;
    width:240px;
    height: 220px;
    margin: 0;
    margin-top:-240px;
    margin-bottom: 0px;
    position: relative;
    &:before{
      position: absolute;
      content:url("../resources/img/img-opt/catalog/mobile/gift.svg");
      width:55px;
      height: 60px;
      top: 30px;
      left: 90px;
    }
  }
  .banner-description{
    text-align: center;
    color: white;
    margin-top: 110px;
  }

}