.form-program{
    width: 280px;
  margin:0 auto;
  display: grid;
  grid-template-columns: 140px 140px;
}
.about{
  grid-area: 1/1/1/3;
}
.about__title{
  font-size:36px;
  line-height: 36px;
  font-weight:normal;
}
.about__description{
  font-size:14px;
  line-height: 18px;
  text-transform: uppercase;
}
/*tablet*************************************************************************************/
@media all and (min-width: 768px) {
  .form-program{
    width: 708px;
    margin:0 auto;
    grid-template-columns: 132px 132px 132px 132px;
    grid-column-gap: 60px;
  }
  .about{
    grid-area: 1/1/1/4;
  }
  .about__title{
    font-size:60px;
    line-height: 60px;
  }
  .about__description{
    font-size:20px;
    line-height: 30px;
    padding-left:40px;
  }

}
/*desktop*************************************************************************************/
@media all and (min-width: 1440px) {
  .form-program{
    width: 1220px;
    grid-template-columns: 245px 245px 245px 245px;
    grid-column-gap: 80px;
  }
  .about{
    grid-area: 1/1/1/4;
  }
  .about__description{
    padding-left:0;
  }

}
