.comments{
  grid-column: 1/3;
}
.comments__title{
  &:before{
    width:160px;
    left:140px;
  }
}
.comments__area{
  margin-top:10px;
  width:280px;
  height: 150px;
  resize: none;
  padding-left:15px;
  padding-top:15px;
  font-size:16px;
  font-weight: normal;
  &::placeholder{
    text-transform: uppercase;
    font-size:16px;
  }
}
/*tablet***************************************************************************************/
@media all and (min-width: 768px){
  .contacts{
    grid-column: 1/-1;
  }
  .comments__title{
    &:before{
      width:500px;
      left:200px;
    }
  }
  .comments__area{
    width:631px;
    height: 174px;
    padding-left:15px;
    padding-top:15px;
    font-size:20px;
    line-height: 30px;
    font-weight: normal;
    margin-left:30px;
    &::placeholder{
      text-transform: uppercase;
      font-size:20px;
    }
  }
}
/*desktop***************************************************************************************/
@media all and (min-width: 1440px) {
  .contacts {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    grid-column-gap: 80px;
  }
  .comments__title {
    &:before {
      width: 1120px;
      left: 200px;
    }
  }
  .comments__area {
    width: 1260px;
    height: 174px;
    margin-left: 0;
  }
}

